main {
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #fff;
    color: #001f3f;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    height: 0;
    padding-bottom: 100%;
}

.grid-item:hover {
    background-color: #001f3f;
    color: #fff;
}
